.card__container {
  background-color: var(--light-color);
  display: flex;
  margin: 1rem;
  border-radius: 0.5rem;
  height: 9rem;
}

.card__img {
  height: 9rem;
  width: 9rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.card_all_info {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  color: var(--text-color);
}

b{
  color: var(--title-color);
  font-size: 1.2rem;
}

.card__info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 1rem;
  font-size: 1rem;
  text-align: left;
}

.card__description__A {
  margin: 0.3rem;
  font-family: "Comfortaa", cursive;
  text-align: left;
  color: var(--text-color);
}

.card__description__B {
  margin: 0.3rem;
  font-size: smaller;
  font-family: "Comfortaa", cursive;
  text-align: left;
  color: var(--text-color);
}

.card_description_C {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 6rem;
  padding: 0.2rem;
  padding-top: 0.5rem;
  font-family: "Comfortaa", cursive;
  margin-right: 1rem;
  color: var(--main-color);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: right;
}

#color__span {
  color: var(--main-color);
}
