.card__container {
  background-color: rgb(243, 239, 239);
  display: flex;
  margin: 1rem;
  border-radius: 0.5rem;
  height: 7rem;
}

.card__img {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
}

.card__all__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 1rem;
}

.card__description__A {
  margin: 0.3rem;
  font-family: "Comfortaa", cursive;
  text-align: left;
}
.card__description__B {
  margin: 0.3rem;
  font-size: smaller;
  font-family: "Comfortaa", cursive;
  text-align: left;
}

.card__description__C {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8rem;
  height: 6rem;
  padding: 0.2rem;
  padding-top: 0.5rem;
  font-family: "Comfortaa", cursive;
  margin-right: 1rem;
  color: goldenrod;
}
