
.container{
    width: 100%;
    height: 7rem;
    display:grid;
    grid-template-columns: .5fr 2fr .5fr;
    padding: 1rem;
    padding-left: 2rem;
}

.img{
    height: 5rem;
    width: 5rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nameCantidad{
    text-align: left;
    padding-left: 1rem;
    
}
.nameCantidad h2{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--title-color);
    line-height: 1.6rem;
}

.cantidad{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.price span{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 600;
}
.price p{
    display: none;
}

.total{
    margin-left: 2rem;
    width: 100%;
    height: 2rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.total h3{
    color:var(--title-color);
    font-size: 1.6rem;
}

.total span{
    color:var(--main-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-align: end;
    align-items: flex-start;
    margin-right: 3rem;
}

.conteiner_buttons{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn1, .btn2{
    margin-top: 2rem;
    width: 95%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    will-change: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--light-color);
    border: none;
    border-radius: .4rem;
}
.btn2{
    background-color:var(--secondary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn1:hover{
    cursor: pointer;
}
.btn2:hover{
    cursor: pointer;
}