.img{
    display: block;
    min-width: 100%;
    height: 13rem;
    object-fit: cover;
}  

.conteiner{
    display: block;
    color: black;
    width: 100%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
}
.conteiner_Name{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    margin: 1rem;
    align-items: center;
}

.price{
    text-align: right;
    margin-right: 1em;
    color: var(--main-color);
    font-weight: 700;
}

.description{
    text-align: left;
    color: var(--text-color);
    margin: 1rem;
}

p{
    font-size: .9rem;
    color: var(--text-color);
}

.conteiner_buttons{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn1, .btn2{
    width: 95%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    will-change: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--light-color);
    border: none;
    border-radius: .4rem;
}
.btn2{
    background-color:var(--secondary-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.btn1:hover{
    cursor: pointer;
}
.btn2:hover{
    cursor: pointer;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
h3{
    font-size: 1rem;
    color: var(--text-color);
}

.timeSpan{
    color: var(--main-color);
}
