html, body, #root, .App{
    min-height: 100vh !important
}
#containerGlobalForm{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerForm{
    margin-top: 20px;
    width: 100%;
    height: 100%;

}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.containerImage{  
    width: 100%;
    height: 40%;
}
.img{
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.containerInfo{
    width: 100%;
    height: 60%;
    padding: 20px;
}
.containerLabel{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    margin-top: 10px;


}

.labels{    
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;    
}

.containerButton{
    text-align: right;
    margin-top: 20px;
}

.inputDescription{
 width: 100%;
 height: 40px;
}
