button{
    border: none;
    color: var(--text-color);
    background-color: transparent;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1.2rem;
}

.counter span{
    font-size: 1rem;
}