.root {
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* background-image: url("https://images.unsplash.com/photo-1590846406792-0adc7f938f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"); */
}

.carrousel {
  width: 70%;
  max-width: 100em;
  height: 100%;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

/*   .mainCarrousel{
    width: 140%;
    background-color: orange;
    display:flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  } */

.item {
  height: 100%;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
}

.arrows {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

span {
  color: var(--light-color);
}

#img1 {
  background-image: url("../images/carrusel1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img2 {
  background-image: url("../images/carrusel2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#img3 {
  background-image: url("../images/carrusel3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.points {
  width: 70%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
  bottom: 0;
  gap: 1.5rem;
  flex-flow: row nowrap;
}

.point {
  border: 2px solid var(--light-color);
  background-color: transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

.points a button:active {
  background-color: var(--light-color);
}

.container {
  display: flex;
  float: right;
  right: 0;
  width: 30%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: left;
  background-color: var(--light-color);
  z-index: 9999;
  position: absolute;
  z-index: 2;
}

/*   .logo {
    margin-top: 5rem;
    height:7.5rem;
    width:7.5rem;
  }
   */

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.title {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  margin: 4rem;
  color: var(--main-color);
}

.text {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 100;
  margin: 3rem;
}

.button1 {
  width: 12rem;
  height: 3.75rem;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button1:hover {
  color: var(--shadow-color);
  background-color: transparent;
  border-color: var(--shadow-color);
}

.button1:focus,
.button1:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button2 {
  width: 12rem;
  height: 3.75rem;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--light-color);
}
.button2:hover {
  color: var(--light-color);
  background-color: var(--shadow-color);
  border-color: var(--shadow-color);
}

.button2:focus,
.button2:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 600px) {
  .root {
    width: 100%;
    justify-content: center;
    align-self: center;
  }
  .container {
    position: fixed;
    bottom: 0;
  }
  /* .logo{
      align-self: center;
      margin: 0.5rem;
    } */
  .title {
    justify-content: center;
    align-self: center;
    font-size: 4rem;
    align-self: center;
    width: 100%;
  }
  .text {
    display: none;
    justify-content: center;
    align-self: center;
    align-self: center;
    font-size: 20rem;
    width: 100%;
    margin: 1rem;
  }
  .points {
    width: 100%;
    bottom: 15vh;
  }
}

@media (max-width: 950px) {
  .carrousel {
    width: 100%;
  }
  .container {
    display: flex;
    float: none;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-self: center;
    padding-bottom: 1rem;
    position: fixed;
    bottom: 0;
    /* opacity: 0.8; */
    /* backdrop-filter: blur(2.5px); */
  }
  .logo {
    align-self: center;
    margin: 0.5rem;
  }
  .title {
    display: none;
  }
  .text {
    display: none;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
  }
}
