* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem=10px */
  min-height: 100%;
}
#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: #f39c12;
  --secondary-color: #0b0b0b;
  --light-color: #f5f5f5;
  --title-color: #1c1b1f;
  --text-color: #a3a3a3;
  --shadow-color: #5b5b5b;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--shadow-color);
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--main-color);
  }
  button {
    background-color: #f9f9f9;
  }
}


.containerSpin{
  width: 100%;
  height: 100%;
}
.spinner{
  position: relative;
  left: 45%;
  top: 45%;
  border: 4px solid rgba(0, 0, 0, .1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color:#09f ;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0%{
      transform: rotate(0deg);

  }
  100%{
      transform: rotate(360deg);
  }
  
}